.container{
    display: flex;
    height: 50px;
    max-height: 70px;
    min-width: 80vw;
    margin: 15px 0;
}
input[type="radio"]{
display: none;
}

.container label{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   color: rgb(247, 243, 240);
   border: 1px solid rgb(247, 243, 243);
   border-radius:25px;
   box-sizing: border-box;
   padding: 0 20px;
   justify-content: space-between;
   cursor: pointer;
}
.container label:after{
    height: 27px;
    width: 27px;
    border-radius: 50%;
    border: 1px solid rgb(255, 253, 251);
}

input[type="radio"]:checked  + label:after,input[type="radio"]:checked  + label{
    border: 1px solid rgb(221, 14, 14);
    color: rgb(221, 14, 14);
}
